Repository rbardini/jsonresume-theme-even: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": "prettier --write"
}

fix(deps): update dependencies
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  package-lock.json
  package.json
  resume.hbs
  tap-snapshots/test-render.js-TAP.test.js
  test/render.js
Due: eslint --fix, prettier --write

fix(markup): strip tags from description meta tag
  index.js
  package-lock.json
  package.json
  resume.hbs
Due: eslint --fix, prettier --write

0.6.1
  package-lock.json
  package.json
Due: prettier --write

feat(contact): move contact information to header
  .github/workflows/main.yml
  index.js
  partials/contact.hbs
  partials/header.hbs
  resume.hbs
  style.css
  tap-snapshots/test-render.js-TAP.test.js
  test/render.js
Due: eslint --fix, prettier --write

fix(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

0.7.0
  package-lock.json
  package.json
Due: prettier --write

build(node): use latest Node.js LTS version
  .nvmrc
Due: none

docs(readme): update description and demo badge
  README.md
Due: prettier --write

feat(icon): render profile network icons
  index.js
  partials/header.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

refactor(icon): use feather-icons package
  index.js
  package-lock.json
  package.json
  partials/header.hbs
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

feat(profile): move profile information to header
  partials/header.hbs
  partials/profiles.hbs
  resume.hbs
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.8.0
  package-lock.json
  package.json
Due: prettier --write

feat(cli): add standalone CLI
  bin/build-demo
  bin/cli.js
  package.json
Due: eslint --fix, prettier --write

0.9.0
  package-lock.json
  package.json
Due: prettier --write

docs(readme): add features and usage instructions
  README.md
Due: prettier --write

feat(dark): add dark mode support
  README.md
  package.json
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

fix(dark): indicate supported color schemes
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.10.0
  package-lock.json
  package.json
Due: prettier --write

fix(meta): only add description if summary exists
  partials/meta.hbs
  resume.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.10.1
  package-lock.json
  package.json
Due: prettier --write

refactor(css): rename custom properties
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

fix(deps): update dependencies
  .husky/pre-push
  package-lock.json
  package.json
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

0.10.2
  package-lock.json
  package.json
Due: prettier --write

feat(image): render image as profile picture
  partials/header.hbs
  style.css
  tap-snapshots/test/render.js.test.cjs
  test/render.js
Due: eslint --fix, prettier --write

feat(highlights): remove highlights headings
  partials/projects.hbs
  partials/volunteer.hbs
  partials/work.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

0.10.3
  package-lock.json
  package.json
Due: prettier --write

feat(layout): center header elements on mobile
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

0.10.4
  package-lock.json
  package.json
Due: prettier --write

feat(semantic): prioritize positions in sections
  partials/education.hbs
  partials/volunteer.hbs
  partials/work.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

0.11.0
  package-lock.json
  package.json
Due: prettier --write

fix(education): reprioritize institutions
  partials/education.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

feat(about): move about section to header
  partials/about.hbs
  partials/header.hbs
  resume.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

feat(url): merge links with headings
  partials/awards.hbs
  partials/certificates.hbs
  partials/education.hbs
  partials/link.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/volunteer.hbs
  partials/work.hbs
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

chore(deps): update dependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

0.12.0
  package-lock.json
  package.json
Due: prettier --write

feat(projects): format language-sensitive lists
  index.js
  tap-snapshots/test/render.js.test.cjs
Due: eslint --fix, prettier --write

feat(md): render courses, highlights as Markdown
  partials/education.hbs
  partials/projects.hbs
  partials/volunteer.hbs
  partials/work.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

0.13.0
  package-lock.json
  package.json
Due: prettier --write
