Repository rbardini/jsonresume-theme-even: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(esm): migrate to ESM
  .eslintrc.json
  .github/workflows/main.yml
  .gitignore
  README.md
  bin/cli.js
  index.js
  package-lock.json
  package.json
  test/render.js
Due: eslint --fix, prettier --write

docs(package): add keywords
  package.json
Due: prettier --write

build(demo): build package before demo
  package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

build(package): build package before publish
  package.json
Due: prettier --write

0.14.0
  package-lock.json
  package.json
Due: prettier --write

docs(readme): add Resumed and standalone examples
  README.md
Due: prettier --write

fix(date): move dates below titles
  partials/awards.hbs
  partials/certificates.hbs
  partials/education.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/volunteer.hbs
  partials/work.hbs
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

feat(work): render work locations
  partials/work.hbs
  tap-snapshots/test/render.js.test.cjs
Due: none

feat(work): render work descriptions
  partials/work.hbs
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

0.15.0
  package-lock.json
  package.json
Due: prettier --write

fix(layout): dim meta content
  partials/awards.hbs
  partials/certificates.hbs
  partials/education.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/volunteer.hbs
  partials/work.hbs
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

feat(color): use WordPress color palette
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

docs(readme): remove dependencies badges
  README.md
Due: prettier --write

0.16.0
  package-lock.json
  package.json
Due: prettier --write

fix(cjs): use __dirname if defined
  index.js
Due: eslint --fix, prettier --write

0.16.1
  package-lock.json
  package.json
Due: prettier --write

docs(readme): readd dependencies badges
  README.md
Due: prettier --write

chore(deps): update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

feat(contact): inline list items on mobile
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

feat(skills): use flex gap and round tag corners
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

feat(layout): stretch single grid lists
  style.css
  tap-snapshots/test/render.js.test.cjs
Due: prettier --write

chore(node): add JSON module import assertion
  package.json
  test/render.js
Due: eslint --fix, prettier --write

0.17.0
  package-lock.json
  package.json
Due: prettier --write

docs(readme): update demo URL
  README.md
  package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  test/render.js
Due: eslint --fix, prettier --write

specify UTC for toLocaleDateString
  index.js
Due: eslint --fix, prettier --write

fix(date): format dates using UTC time zone (#15)
  index.js
Due: eslint --fix, prettier --write

docs(readme): update standalone usage example
  README.md
Due: prettier --write

docs(readme): remove example links
  README.md
Due: prettier --write

0.17.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

docs(readme): fix build status badge
  README.md
Due: prettier --write

feat(deps): migrate to Vite and Vitest
  .eslintrc.json
  .github/workflows/main.yml
  .gitignore
  .husky/pre-push
  .prettierignore
  bin/cli.js
  index.js
  package-lock.json
  package.json
  tap-snapshots/test/render.js.test.cjs
  test/__snapshots__/index.test.js.snap
  test/index.test.js
  vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,json,md})
