Repository rbardini/jsonresume-theme-even: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": "prettier --write"
}

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

0.18.0
  package-lock.json
  package.json
Due: prettier --write

fix(esm): fix Feather icons import
  components/icon.js
Due: eslint --fix, prettier --write

0.18.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  .nycrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: eslint --fix, prettier --write

feat(work): use organization name as heading
  components/volunteer.js
  components/work.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

feat(work): group by organization in timeline
  components/work.js
  style.css
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

fix(icon): vertical-align icons to text-bottom
  style.css
Due: prettier --write

feat(img): add border
  style.css
Due: prettier --write

0.19.0
  package-lock.json
  package.json
Due: prettier --write

feat: display projects.keywords and .type
  components/projects.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

fix: reformat code and move keywords to the bottom
  components/projects.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

feat(projects): display project type and keywords (#18)
  components/projects.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

0.20.0
  package-lock.json
  package.json
Due: prettier --write

feat(color): simplify color scheme
  style.css
Due: prettier --write

feat(color): support custom colors
  README.md
  resume.js
  style.css
  test/__snapshots__/index.test.js.snap
  test/index.test.js
  utils/colors.js
Due: eslint --fix, prettier --write

0.21.0
  package-lock.json
  package.json
Due: prettier --write

Added ability to set the order of the resume via the meta information
  resume.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

Updated resume.js to pass testcases
  resume.js
Due: eslint --fix, prettier --write

Moved order logic to separate component
  components/body.js
  resume.js
Due: eslint --fix, prettier --write

Added information on ordering
  README.md
Due: prettier --write

docs(editor): replace static demo with editor
  .eslintrc.json
  .prettierrc.json
  editor.css
  editor.js
  index.html
  netlify.toml
  package-lock.json
  package.json
  vite.config.js
Due: eslint --fix, prettier --write

feat(color)!: move colors to `.meta.themeOptions`
  README.md
  test/index.test.js
  utils/colors.js
Due: eslint --fix, prettier --write

Update components/body.js
  components/body.js
Due: eslint --fix, prettier --write

Renamed component from body to section
  resume.js
Due: eslint --fix, prettier --write

Updated documentation
  README.md
Due: prettier --write

build(types): provide type hints via JSDoc
  .github/workflows/main.yml
  .gitignore
  README.md
  components/awards.js
  components/certificates.js
  components/date.js
  components/duration.js
  components/education.js
  components/header.js
  components/icon.js
  components/interests.js
  components/languages.js
  components/link.js
  components/meta.js
  components/projects.js
  components/publications.js
  components/references.js
  components/skills.js
  components/volunteer.js
  components/work.js
  index.js
  package-lock.json
  package.json
  resume.js
  tsconfig.json
  utils/colors.js
  utils/html.js
  utils/markdown.js
  vite.config.js
Due: eslint --fix, prettier --write

0.22.0
  package-lock.json
  package.json
Due: prettier --write

style(prettier): format all files and add CI check
  .github/workflows/main.yml
  .lintstagedrc.json
  .prettierrc.json
  components/awards.js
  components/certificates.js
  components/education.js
  components/header.js
  components/interests.js
  components/languages.js
  components/link.js
  components/meta.js
  components/projects.js
  components/publications.js
  components/references.js
  components/skills.js
  components/volunteer.js
  components/work.js
  editor.js
  package-lock.json
  package.json
  resume.js
  style.css
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: eslint --fix, prettier --write

fix(sections): mod sections syntax, and file name
  components/body.js
  components/sections.js
  resume.js
Due: eslint --fix, prettier --write

fix(sections): update resume.js and test snapshot
  test/__snapshots__/index.test.js.snap
Due: none

fix(render): prettier config, redo resume.js tags
  .prettierrc.json
  resume.js
Due: eslint --fix, prettier --write

theme customized
  components/awards.js
  components/certificates.js
  components/education.js
  components/projects.js
  components/publications.js
  components/references.js
  components/volunteer.js
  components/work.js
  editor.css
  editor.js
  resume.js
  style.css
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: eslint --fix, prettier --write

husky deleted as it was irritating
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  .eslintrc.json
  .github/workflows/main.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .nvmrc
  editor.js
  package-lock.json
  package.json
  test/__snapshots__/index.test.js.snap
  test/index.test.js
  vite.config.js
Due: eslint --fix, prettier --write

fix(types): export `import` and `require` fields
  package.json
Due: prettier --write

0.22.1
  package-lock.json
  package.json
Due: prettier --write
