Repository rbardini/jsonresume-theme-even: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": "prettier --write"
}

Refactor helpers and render function
  index.js
Due: eslint --fix, prettier --write

Add GitHub workflow
  .github/workflows/main.yml
  .lintstagedrc.json
Due: prettier --write

Collect coverage
  .github/workflows/main.yml
  .gitignore
  .prettierignore
Due: none

Replace JSON coverage report with lcov
  .github/workflows/main.yml
Due: none

Use both text and JSON coverage reporters
  .github/workflows/main.yml
Due: none

Move coverage reporter options to .nycrc.json
  .github/workflows/main.yml
  .nycrc.json
Due: prettier --write

Update README
  README.md
Due: prettier --write

Build and deploy demo
  .gitignore
  .prettierignore
  bin/build-demo
  netlify.toml
  package.json
  resume.json
  test/render.js
Due: eslint --fix, prettier --write

Fix Netlify build command
  netlify.toml
Due: none

Add space between blockquote vertical bar and text
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.3.2
  package-lock.json
  package.json
Due: prettier --write

Add demo badge to README
  README.md
Due: prettier --write

Fix lint-staged glob pattern
  .lintstagedrc.json
Due: prettier --write

Use CSS grid
  index.js
  package-lock.json
  package.json
  partials/about.hbs
  partials/awards.hbs
  partials/contact.hbs
  partials/education.hbs
  partials/header.hbs
  partials/interests.hbs
  partials/languages.hbs
  partials/profiles.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/references.hbs
  partials/skills.hbs
  partials/volunteer.hbs
  partials/work.hbs
  resume.hbs
  style.css
  tap-snapshots/test-render.js-TAP.test.js
  test/render.js
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

0.4.0
  package-lock.json
  package.json
Due: prettier --write

Wrap tag lists
  style.css
Due: prettier --write

Add spacing between stacked section items
  partials/awards.hbs
  partials/education.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/references.hbs
  partials/volunteer.hbs
  partials/work.hbs
  style.css
Due: prettier --write

Update test snapshots
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.4.1
  package-lock.json
  package.json
Due: prettier --write

Add resume-schema dev dependency
  package-lock.json
  package.json
Due: prettier --write

Use sample resume from resume-schema
  bin/build-demo
  resume.json
  test/render.js
Due: eslint --fix, prettier --write

Only join project roles if defined
  partials/projects.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.4.2
  package-lock.json
  package.json
Due: prettier --write

Improve article children spacing
  partials/awards.hbs
  partials/education.hbs
  partials/header.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/volunteer.hbs
  partials/work.hbs
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

Strip protocol and trailing slashes from URLs
  index.js
  partials/contact.hbs
  partials/education.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/volunteer.hbs
  partials/work.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

Use correctly sequenced headings
  partials/contact.hbs
  partials/interests.hbs
  partials/languages.hbs
  partials/profiles.hbs
  partials/skills.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

Render section content as Markdown
  index.js
  package-lock.json
  package.json
  partials/about.hbs
  partials/awards.hbs
  partials/education.hbs
  partials/projects.hbs
  partials/publications.hbs
  partials/references.hbs
  partials/volunteer.hbs
  partials/work.hbs
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.5.0
  package-lock.json
  package.json
Due: prettier --write

Force grid layout when printing
  style.css
  tap-snapshots/test-render.js-TAP.test.js
Due: eslint --fix, prettier --write

0.5.1
  package-lock.json
  package.json
Due: prettier --write

Set PDF media type to print
  index.js
Due: eslint --fix, prettier --write

0.5.2
  package-lock.json
  package.json
Due: prettier --write

Update resume-schema dependency
  package-lock.json
  package.json
Due: prettier --write

Add certificates partial
  partials/certificates.hbs
  resume.hbs
Due: none

feat: add certificates section (#9)
  package-lock.json
  package.json
  partials/certificates.hbs
  resume.hbs
Due: prettier --write

0.6.0
  package-lock.json
  package.json
Due: prettier --write
